.git
.github
.DS_Store
*.log

AGENTS.override.md
CLAUDE.local.md

dist/
ident/node_modules/
ident/dist/
ident/dist-tsnode/
ident/tsconfig.tsbuildinfo
ident/.env.local
ident/.husky/_/

identd/identd
identd/web/*
!identd/web/.keep
